extends layout

block content
  h1= title
    span  MovieStars
  p 
    span MovieStars 
    | helps you to find out the ratings and reviews of the movies so that you can decide what movie to watch.
  p Also you can find out the list of top-rated movies every weekly.
 
