extends layout

block content
  h1 Movie List
  h3 Here is the list of this weeks top rated movies:
  each movie in movies
    .list-group
      a.list-group-item.list-group-item-warning(href=`/movies/${movie._id}`)=movie.name
  a.btn.btn-dark(href=`/new`) Create New Movie
    
    
      
       
